*    {
  
     }
body {
    max-width: 1200px;  
    font-size: 16px; 
    background-repeat: no-repeat;
    background-position: center;
    padding-left: 140px;
    padding-right: 140px;
    text-align: center;  
    align-items: center;
    align-self: center;
    margin: 0px 0px;
    
    
    
} 
.info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;    
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: bold;
    list-style: none;  
    background-color: white;
    color: blue;   
    
     
      }
    
  h4  {
    text-align: center; 
    font-size: 22px;
    width: 1200px;
    height: 20px;
    max-width: 1200;
    background-attachment: fixed;
    padding-top: 4px;
    padding-bottom: 4px;       
      }  
.item-2 {
      img src="Images/Be a Hero.jpg" 
      
}

.equal-height-container 
        {
    max-width: 1200px;
    margin: 0 auto;
    display: flex
    
        }
.first
     {
    display: flex
    flex-direction: column
    flex- 1;
    background-color: burlywood;
     }
.first-a
       {
    background-color: burlywood;
    width: 500px;
    height: auto;
    margin: 0 auto;
    align-items: flex-start;
    text-align: justify;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    flex: 1;    
       } 
.first-b
     {
    width: 500px;
    height: auto;
    justify-content: flex-start;
    text-align: justify;
    background-color: burlywood;
    margin: 0 auto;
    padding-right: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    flex: 1;  
  }  
.second
      { 
    background-color: burlywood;
    flex: 1
    display: flex
    flex-direction: column
    
      }   
.second-a
      {
     background-color: burlywood;
     width: 500px;
     height: auto;
     align-items: flex-start;
     text-align: justify;
     margin: 0 auto;
     padding-left: 50px;
     padding-right: 50px;
     padding-top: 10px;
     padding-bottom: 10px;
     display: flex;
     flex-wrap: wrap;
     flex: 1;  
      }    
.second-b
      {
     font-size: 22px;
     font-weight: bold;
     width: 330px;
     height: auto;
     color: blue;
     background-color: burlywood
     margin: 0 auto;
     justify-content: flex-start;
     padding-right: 270px;
     padding-top: 30;
     padding-bottom: 10;
     flex-wrap: wrap;
     flex: 1;  
      }
 

.item-3
     {
      width: 1180;
      height: 20px;
      align-items: center;
      background-color: burlywood;
      padding-left: 10px;
      padding-right: 10px;
      margin-top: -30px;
      margin-bottom: 20px;
      }
.four
      { 
      width: 1180px;
      height: 60px;
      margin-top: -15px;
      margin-bottom: -15px;
      padding-top: 20px;
      padding-right: 10px;
      padding-left: 10px;
      background-color: tan;
      color: black;
      align-items: center;
      align-self: flex-end;
      justify-content: flex-start;
      text-align: justify;
    
      } 
.item-8
     {
  img src="Images/newmerch22.jpg"
      }
.item-9
    {
  img src="Images/Backend_600x200.jpg"
   }
.flex-container3
   {
    width: 1200px;
    height: 500px;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
    align-items: center;
    align-self: center;
    background-color: tan
    
   }

.item-10
   {
    img src="Images/Top 10.jpg" 
      }
.item-11 
    {
    color: blue;
    background-color: burlywood;
    width: 1200px;
    height: 60px;
    
    
     }
.five  
     {x
      width: 1140px;
      height: 60px;
      margin-top: -20px;
      margin-bottom: -20px;
      padding-left: 10px;
      padding-right: 10px;
      color: black;
      background-color: tan;
      justify-content: flex-start;
      align-items: center;
      align-self: center;
      text-align: justify
      
     }  
.flex-container4 
   {
    width: 1200px;
    height: 378px;
    padding-top: 20px;
    justify-content: center;
    align-items: center;
    align-self: center;
    background-color: tan
     }
.item-12 
    {
    img src="Images/Matching;
     } 
.item-13
    {
    width: 1200px;
    height: 100px;
    background-color: burlywood;
    color: blue
    
    
    
     }
.flex-container5 
    {
    width: 1200px;
    height: 200px;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
    align-items: center;
    align-self: center;
    background-color: tan
    }

.item-14
      {
    img src="Images/Gold Transperancy.jpg">
       }
.six  {
    width: 1200px;
    height: 60px;
    font-size: 22px;
    font-weight: bold;
    margin-top: -15px;
    flex-direction: row; 
    color: blue;
    background-color: tan;
    font-size: 22px;
    justify-content: center; 
    
       
       }
.seven {
    flex-direction: row;
    color: black;
    background-color: tan;
    width: 1160px;
    height: 60px;
    margin-top: -22px;;
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
    justify-content: flex-start;
        }
.flex-container6 {
    width: 1200px;
    height: 400px;
    margin-top: -20px;
    display: flex;
    padding-top: 3px;
    padding-bottom: 10px;
    justify-content: center;
    align-items: center;
    align-self: center;
    background-color: tan
  } 
.item-15 {
    img src="Images/Bestofplano22.jpg"  
      
   }
.item-16         
   {
    color: blue;
    background-color: tan;
    width: 1200px;
    height: 88px;
    justify-content: center;
     }
.item-17
    {
    width: 1200px;
    height: 20px;
    background-color: burlywood;
    }
.eight
    {  
      width: 1200px;
      height: 10px;
      color: black;
      padding-top: 20px;
      background-color: white;
      justify-content: center;  
   
      }
.nine {
  width: 1200px;  
  height: 5px;
  color: blue;
  background-color: white;
  justify-content: center
    
      }
.ten {
  width: 1200px;
  height: 5px;
  color: blue;   
  background-color: white;
  text-align: center;
      }
.eleven {
  flex-direction: row;
  width: 1200px;
  height: 10px;
  color: black;
  background-color: white;
  text-align: center;
    }

    
  
       






           
    
    
   
    
  




